$gray       : #2c2c2c;
//$gray:white;
$red        : rgba(148, 0, 0, 1);
$dark-blue  : #006494;
$middle-blue: #1d71b8;
$light-blue : #36a9e1;
//$font:#E1BAA9;
$font       : white;

:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-neon: #36a9e1;
    --clr-neon: #006494;
    --clr-neon: #1d71b8;
    --clr-bg  : hsl(323 21% 16%);

    --highlightrosa  : #FE019A;
    //--highlight    : #FF5733;
}


.button-background,
.card-background {
    position          : absolute;
    height            : 100%;
    width             : 100%;
    top               : -6vh;
    top               : 0;
    background-image  : linear-gradient(132deg, $gray 0%, $light-blue 100%);
    opacity           : 0.5;
    background-size   : 200%;
    animation         : bg-animation 30s infinite;
    //z-index         : -444;
}

.button-background {
    opacity         : 1;
    background-image: linear-gradient(132deg, $gray 0%, $dark-blue 100%);
    font-weight     : 500;
}

.button {
    font-size     : 40px;
    font-size     : clamp(20px, 5vw, 40px);
    border-radius : 0.25em;
    padding       : 0.3em .3em;
    margin        : 1em;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    position      : relative;
    overflow      : hidden;
    cursor        : pointer;

    a {
        z-index: 3;
    }
}

.card {
    border-radius      : 50px;
    margin             : 6vh 3vw;
    padding            : 6vh 3vw;
    display            : flex;
    flex-direction     : column;
    align-items        : center;
    height             : 60vh;
    width              : clamp(100px, 90vw, 800px);
    //min-height    : 75vh;
    position           : relative;
    overflow           : hidden;
    margin-right       : 10vw;
    // z-index         : 5;

    @media screen and (min-width: 1200px) {
        width : 800px;
        margin: 6vh 3vw;
    }


}

#services .tiles {

    h3 {
        font-size: clamp(13px, 3vw, 16px);
        ;
    }

    //border  : 1px solid green;
    //width : 50%;
    .details-close {
        display: none;
    }

    .more {
        display: block;
    }

    .services {

        //  border                  : 1px solid yellow;
        //width                     : 70%;
        //height                  : 70vh;
        // display              : grid;
        // grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        // grid-template-rows   : masonry;
        // margin               : 0;
        // flex-wrap                 : wrap;
        gap            : 2vw;
        margin-left    : 0;
        width          : 100%;
        justify-content: space-between;
        padding        : 0 clamp(0, 10vw, 200px);
        margin-top     : 4vh;
        position       : fixed;
        top            : 43vh;

        .card {
            //flex      : 1;
            width  : 20vh;
            height : 20vh;
            margin : 0;
            padding: 0;
            cursor : pointer;

            // width : unset;
            // width : unset;
            .title-container {
                flex-direction: column;
                margin-bottom : 0;
                padding       : 3vh 1vw;
                text-align    : center;

            }

            .title-container::before {
                display: none;
            }
        }

        .extended-content {
            display: none;
        }
    }
}