:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-neon: #36a9e1;
    --clr-neon: #006494;
    --clr-neon: #1d71b8;
    --clr-bg  : hsl(323 21% 16%);


    // --highlight     : #FF9F9F;
    //: #FF9FD3;
    //--newhighlight: #9FFFEE;
}

a {
    color          : var(--highlight);
    text-decoration: none;
}

#navigation {

    display : none;
    position: fixed;
    right   : 8vw;

    ul {
        display        : flex;
        font-family    : "Raleway";
        font-size      : clamp(20px, 2vw, 30px);
        flex-direction : column;
        list-style-type: none;
        align-items    : end;
        margin-right   : 5vw;
        margin-top     : 10vh;
        height         : 50vh;
        justify-content: space-between;
    }
}

.go-up-container {
    position       : fixed;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: right;
    align-items    : flex-end;
    bottom         : 10vh;
    z-index        : 9999;
    right          : 2vw;

    .link {
        position: relative;
    }


}

.link::after {
    content  : "wieder hoch";
    color    : var(--highlight);
    font-size: 98%;
    position : absolute;
    width    : 200px;
    height   : 100%;
    top      : 0;
    transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);

    filter      : blur(.03em);
    height      : 100%;
    top         : 110%;
    opacity     : 0;
    right       : 0;
    margin-right: 4px;
}

.cta-container {
    //position       : fixed;
    width               : 100%;
    display             : flex;
    //flex-direction    : column;
    justify-content     : right;
    align-items         : flex-end;
    // top            : 2vh;
    // z-index        : 9999;
    // right          : 2vw;

    .cta-button,
    .burger {
        position: relative;
    }
}

.cta-button,
.burger,
.go-up-container {
    color      : var(--highlight);
    font-weight: bold;
    font-size  : clamp(20px, 2vw, 30px);


}

.menu-item {
    // visibility: hidden;
    // opacity   : 0;
    position: relative;
    cursor  : pointer;
    z-index : 66666;

    &.menu-item::before {
        color    : var(--highlight);
        font-size: 98%;
        position : absolute;
        width    : 100%;
        height   : 100%;
        top      : 0;
        transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);

        filter      : blur(.03em);
        height      : 100%;
        top         : 110%;
        opacity     : 0;
        right       : 0;
        margin-right: 4px;
    }

    &.leistungen:before {
        content: "Leistungen";

    }

    &.erfahrungen {
        margin-right: 10px;
    }

    &.erfahrungen:before {
        content: "Erfahrungen";

    }

    &.hintergruende {
        margin-right: 20px;
    }

    &.hintergruende:before {
        content: "Hintergruende";

    }

    &.technologien {
        margin-right: 10px;
    }

    &.technologien:before {
        content: "Technologien";

    }

    &.friede {
        margin-right: 0px;
    }

    &.friede:before {
        content: "Freude Eierkuchen";
        width  : 300%;

    }
}

.details-close.clickable {
    position: absolute;


    color       : var(--highlight) !important;
    font-size   : 35px;
    //margin-top: -40px;


}

.burger {
    position    : relative;
    //margin-top: 40px;
    cursor      : pointer;
    margin-left : 4vw;

    .burger-close {
        // visibility   : hidden;
        // opacity      : 0;

        top    : 0;
        right  : 0;
        z-index: 0;
    }

    .burger-menu {
        position: absolute;
        top     : 0;
        right   : 0;
        z-index : 0;


    }

    .burger-menu::after {
        content: "Menu";
    }

    .burger-close::after {
        content: "Close";
    }

    .burger-menu::after,
    .burger-close::after {
        pointer-events: none;
        color         : inherit;
        font-weight   : bold;
        font-size     : 30px;
        position      : absolute;
        width         : 300%;
        height        : 100%;
        top           : 0;
        transform     : rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
        font-family   : "Raleway";

        filter        : blur(.03em);
        height        : 100%;
        top           : 110%;
        opacity       : 0;
        //left   : -3px;
        right         : 0;
        pointer-events: none;

    }
}



.cta-button::after {
    content    : "kontakt";
    content    : "Projektanfrage stellen";
    color      : var(--highlight);
    font-weight: bold;
    font-size  : 30px;
    position   : absolute;
    width      : 300%;
    height     : 100%;
    top        : 0;
    transform  : rotate(180deg) scale(-1, 1) skew(560deg, 0deg);

    filter   : blur(.03em);
    height   : 100%;
    top      : 110%;
    opacity  : 0;
    //left   : -3px;
    right    : 0;

}


// .cta-button:hover::after,
// .cta-button:focus::after {
//     opacity: 0.5;
// }

// .burger-menu:hover::after,
// .burger-menu:focus::after,
// .burger-close:hover::after,
// .burger-close:focus::after {
//     opacity: 0.5;
// }


// .menu-item:hover::before,
// .menu-item:focus::before,
// .link:hover::after,
// .link:focus::after {
//     opacity: 0.5;
// }

header::before {
    content : "";
    display : inline-block;
    position: absolute;
    left    : 0;
    bottom  : 0;
    width   : 98vw;
    height  : 5px;

    border-bottom: 2px solid var(--highlightrosa);
    border-bottom: 2px solid var(--clr-neon);
}

footer {
    background-color: var(--clr-neon);
}

.scroll {
    color          : var(--highlight);
    display        : flex;
    justify-content: center;
    height         : 100vh;
    width          : 100%;
    align-items    : center;
    position       : absolute;
    z-index        : 0;

}

.skit {

    //transform: skewX(-60deg) scaleY(2);
    // opacity   : 0;
    // visibility: hidden;

    height   : 100vh;
    width    : 100%;
    font-size: 5em;

    display        : flex;
    flex-direction : column-reverse;
    align-items    : center;
    justify-content: center;
    color          : var(--clr-neon);
    gap            : 2vh;

    a {
        font-size  : 0.7em;
        margin-left: 20vw;
        opacity    : .7;

    }
}

.highlight-underline {
    text-decoration: underline;
}

.js-navigation {
    opacity: 0;
}


.bottom-navigation {

    position        : fixed;
    bottom          : 0;
    width           : 100vw;
    height          : 6vh;
    left            : 0;
    z-index         : 3333333;
    background-color: var(--highlight);
    display         : flex;
    justify-content : space-around;
    align-items     : center;

    i {
        color    : #2c2c2c;
        font-size: clamp(20px, 2vw, 30px)
    }
}

@media screen and (min-width: 500px) {
    .bottom-navigation {
        display: none;
    }
}