:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-neon: #36a9e1;
  --clr-neon: #006494;
  --clr-neon: #1d71b8;
  --clr-bg: hsl(323 21% 16%);
}

a {
  color: var(--highlight);
  text-decoration: none;
}

#navigation {
  display: none;
  position: fixed;
  right: 8vw;
}

#navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway";
  font-size: clamp(20px, 2vw, 30px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 5vw;
  margin-top: 10vh;
  height: 50vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.go-up-container {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 10vh;
  z-index: 9999;
  right: 2vw;
}

.go-up-container .link {
  position: relative;
}

.link::after {
  content: "wieder hoch";
  color: var(--highlight);
  font-size: 98%;
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  -webkit-transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
          transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
  -webkit-filter: blur(0.03em);
          filter: blur(0.03em);
  height: 100%;
  top: 110%;
  opacity: 0;
  right: 0;
  margin-right: 4px;
}

.cta-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta-container .cta-button,
.cta-container .burger {
  position: relative;
}

.cta-button,
.burger,
.go-up-container {
  color: var(--highlight);
  font-weight: bold;
  font-size: clamp(20px, 2vw, 30px);
}

.menu-item {
  position: relative;
  cursor: pointer;
  z-index: 66666;
}

.menu-item.menu-item::before {
  color: var(--highlight);
  font-size: 98%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
          transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
  -webkit-filter: blur(0.03em);
          filter: blur(0.03em);
  height: 100%;
  top: 110%;
  opacity: 0;
  right: 0;
  margin-right: 4px;
}

.menu-item.leistungen:before {
  content: "Leistungen";
}

.menu-item.erfahrungen {
  margin-right: 10px;
}

.menu-item.erfahrungen:before {
  content: "Erfahrungen";
}

.menu-item.hintergruende {
  margin-right: 20px;
}

.menu-item.hintergruende:before {
  content: "Hintergruende";
}

.menu-item.technologien {
  margin-right: 10px;
}

.menu-item.technologien:before {
  content: "Technologien";
}

.menu-item.friede {
  margin-right: 0px;
}

.menu-item.friede:before {
  content: "Freude Eierkuchen";
  width: 300%;
}

.details-close.clickable {
  position: absolute;
  color: var(--highlight) !important;
  font-size: 35px;
}

.burger {
  position: relative;
  cursor: pointer;
  margin-left: 4vw;
}

.burger .burger-close {
  top: 0;
  right: 0;
  z-index: 0;
}

.burger .burger-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.burger .burger-menu::after {
  content: "Menu";
}

.burger .burger-close::after {
  content: "Close";
}

.burger .burger-menu::after,
.burger .burger-close::after {
  pointer-events: none;
  color: inherit;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
  -webkit-transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
          transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
  font-family: "Raleway";
  -webkit-filter: blur(0.03em);
          filter: blur(0.03em);
  height: 100%;
  top: 110%;
  opacity: 0;
  right: 0;
  pointer-events: none;
}

.cta-button::after {
  content: "kontakt";
  content: "Projektanfrage stellen";
  color: var(--highlight);
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  width: 300%;
  height: 100%;
  top: 0;
  -webkit-transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
          transform: rotate(180deg) scale(-1, 1) skew(560deg, 0deg);
  -webkit-filter: blur(0.03em);
          filter: blur(0.03em);
  height: 100%;
  top: 110%;
  opacity: 0;
  right: 0;
}

header::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 98vw;
  height: 5px;
  border-bottom: 2px solid var(--highlightrosa);
  border-bottom: 2px solid var(--clr-neon);
}

footer {
  background-color: var(--clr-neon);
}

.scroll {
  color: var(--highlight);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 0;
}

.skit {
  height: 100vh;
  width: 100%;
  font-size: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--clr-neon);
  gap: 2vh;
}

.skit a {
  font-size: 0.7em;
  margin-left: 20vw;
  opacity: .7;
}

.highlight-underline {
  text-decoration: underline;
}

.js-navigation {
  opacity: 0;
}

.bottom-navigation {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  left: 0;
  z-index: 3333333;
  background-color: var(--dark-blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-navigation i {
  color: #2c2c2c;
  font-size: clamp(20px, 2vw, 30px);
}

@media screen and (min-width: 500px) {
  .bottom-navigation {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header-cta {
    display: none;
  }
  #main section {
    min-height: 86vh;
    height: 86vh;
  }
}
/*# sourceMappingURL=navigation.css.map */