:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-neon: #36a9e1;
  --clr-neon: #006494;
  --clr-neon: #1d71b8;
  --clr-bg: hsl(323 21% 16%);
  --highlightrosa: #FE019A;
  --highlight: #FF9FD3;
}

body#friedevelopment {
  background: #2c2c2c;
  position: relative;
  height: 100vh;
  margin: 0;
}

body#friedevelopment footer {
  background-color: white;
  min-height: 20vh;
}

body#friedevelopment main {
  z-index: 1;
}

body#friedevelopment header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10vh;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0)), to(#2c2c2c));
  background: linear-gradient(0deg, rgba(44, 44, 44, 0) 0%, #2c2c2c 100%);
}

body#friedevelopment header .logo-header,
body#friedevelopment header .header-cta {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 4vw;
}

body#friedevelopment *,
body#friedevelopment *::before,
body#friedevelopment *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body#friedevelopment .neon-button {
  margin-right: 40vw !important;
  font-size: 2rem;
  display: inline-block;
  display: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  padding: 0.3em .3em;
  -webkit-box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
          box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}

body#friedevelopment .sneon-button::before {
  pointer-events: none;
  content: "asdf";
  color: orangered;
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(1em) rotateX(40deg) scale(1, 0.1);
          transform: perspective(1em) rotateX(40deg) scale(1, 0.1);
  -webkit-filter: blur(1em);
          filter: blur(1em);
  opacity: 0.7;
}

body#friedevelopment .funnytext {
  pointer-events: none;
  content: "asdf";
  color: orangered;
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(1em) rotateX(40deg) scale(1, 1);
          transform: perspective(1em) rotateX(40deg) scale(1, 1);
  opacity: 0.5;
}

body#friedevelopment .lightanim {
  pointer-events: none;
  color: orangered;
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(6em) rotateX(40deg);
          transform: perspective(6em) rotateX(40deg);
  font-size: 20px;
}

body#friedevelopment .testfriede {
  padding-top: 20%;
}

body#friedevelopment .testfreude {
  padding-top: 20%;
}

body#friedevelopment .neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 2em 0.5em var(--clr-neon);
          box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  -webkit-transition: opacity 100ms linear;
  transition: opacity 100ms linear;
}

body#friedevelopment .neon-button:hover,
body#friedevelopment .neon-button:focus {
  color: var(--clr-bg);
  text-shadow: none;
}

body#friedevelopment .neon-button:hover::before,
body#friedevelopment .neon-button:focus::before {
  opacity: 1;
}

body#friedevelopment .neon-button:hover::after,
body#friedevelopment .neon-button:focus::after {
  opacity: 1;
}

body#friedevelopment * {
  font-family: "Raleway";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body#friedevelopment main * {
  margin: 0;
  padding: 0;
}

body#friedevelopment main h3 {
  font-family: "Raleway";
}

body#friedevelopment main .middle {
  color: #1d71b8;
  fill: #1d71b8;
}

body#friedevelopment main p {
  color: white;
  line-height: 2em;
  color: rgba(54, 169, 225, 0.6);
  color: white;
}

body#friedevelopment main h2 {
  text-align: center;
}

body#friedevelopment main h2,
body#friedevelopment main h3 {
  color: rgba(0, 100, 148, 0.6);
  -webkit-columns: white;
          columns: white;
  line-height: 1em;
  text-align: center;
}

body#friedevelopment main h3 {
  font-size: calc(min(8vw, 60px));
  font-weight: 200;
}

body#friedevelopment main section {
  min-height: 100vh;
  margin-bottom: 30vh;
}

body#friedevelopment section,
body#friedevelopment div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body#friedevelopment .fd {
  z-index: 100;
  position: fixed;
  margin: auto auto;
  width: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body#friedevelopment .hero-text-container {
  position: relative;
  height: 100vh;
}

body#friedevelopment .hero-text {
  font-family: 'Kaushan Script', cursive;
  color: var(--highlightrosa);
  font-size: clamp(20px, 15vw, 100px);
  color: #FF9FD3;
  z-index: 100;
  position: fixed;
}

body#friedevelopment .hero-lass {
  top: 20vh;
  margin-right: 4vw;
  left: 5vw;
}

body#friedevelopment .hero-deine {
  top: 60vh;
  right: 2vw;
}

body#friedevelopment .hero-kontakt {
  bottom: 0;
  right: 2vw;
  z-index: 100;
  position: fixed;
  font-size: 2em;
}

body#friedevelopment .heroText,
body#friedevelopment .service,
body#friedevelopment .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

body#friedevelopment .hero {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body#friedevelopment .hero .responsive {
  position: relative;
  background-color: #ffdee9;
  background-image: linear-gradient(45deg, #ffdee9 0%, #b5fffc 100%);
  background-image: linear-gradient(45deg, #006494 0%, #36a9e1 20%, #1d71b8 40%, #36a9e1 60%, #006494 80%, #36a9e1 100%);
  background-position: left;
  background-size: 800%;
  -webkit-animation: bg-animation 70s infinite;
          animation: bg-animation 70s infinite;
  height: 60vh;
  padding: 2vh 2vw;
  z-index: -2;
}

body#friedevelopment .hero .responsive svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

body#friedevelopment .hero .responsive .cls-1 {
  fill: #383838;
}

body#friedevelopment .hero .responsive .cls-2 {
  fill: #fff;
}

body#friedevelopment .hero .responsive .cls-3 {
  fill: none;
  stroke: #383838;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

body#friedevelopment .hero .responsive svg {
  position: absolute;
}

body#friedevelopment .hero .responsive h3 {
  font-size: 1em;
  margin: 3em 0;
}

body#friedevelopment .hero .responsive .portrait h3 {
  font-size: 1em;
  margin: 10em 0;
}

body#friedevelopment .hero .responsive #ipod {
  display: none;
  width: 5vw;
  font-size: 0vh;
}

body#friedevelopment .hero .responsive #desktop {
  width: clamp(20px, 95vw, 1000px);
  left: 10vw;
  bottom: 0;
  font-size: 60px;
}

body#friedevelopment .hero .responsive #phone {
  display: none;
  width: 10vw;
  right: 15vw;
  font-size: 13px;
}

body#friedevelopment .hero .responsive #tablet {
  width: 14vw;
  width: clamp(20px, 20vw, 270px);
  right: 20;
  bottom: 0;
  font-size: 20px;
}

body#friedevelopment .hero .responsive #laptop {
  width: 40vw;
  width: clamp(20px, 90vw, 800px);
  bottom: 0;
  right: 20vw;
  font-size: 35px;
}

body#friedevelopment .hero .responsive #watch {
  font-size: 20px;
}

body#friedevelopment .hero .responsive .heroContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8% 2%;
  width: 100%;
  height: 200%;
  background: #2c2c2c;
  color: #36a9e1;
}

body#friedevelopment .hero .responsive .heroContainer svg {
  position: relative;
}

body#friedevelopment .service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3vh 3vw;
}

@media screen and (min-width: 1200px) {
  body#friedevelopment .service-container {
    padding: 3vh 10vw;
  }
}

body#friedevelopment .service-container .vertical-scroll-container {
  overflow: hidden;
  width: 100%;
  position: relative;
}

body#friedevelopment .service-container .card .title-container::before {
  content: " ";
  display: block;
  position: absolute;
  left: 10%;
  top: 20%;
  width: calc(100%+2vw);
  width: 100%;
  height: 50%;
  opacity: 0.5;
  background-color: #2c2c2c;
  background: #2c2c2c;
  background: -webkit-gradient(linear, left top, right top, from(rgba(44, 44, 44, 0)), color-stop(20%, #2c2c2c), color-stop(80%, #2c2c2c), to(rgba(44, 44, 44, 0)));
  background: linear-gradient(90deg, rgba(44, 44, 44, 0) 0%, #2c2c2c 20%, #2c2c2c 80%, rgba(44, 44, 44, 0) 100%);
}

body#friedevelopment .service-container .card .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3vh;
  position: relative;
  padding: 3vh 3vw;
  margin-bottom: 3vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: flex-start;
}

body#friedevelopment .service-container .card .title-container .title {
  color: white;
  padding: 0 2vh;
  font-weight: 600;
  font-size: clamp(13px, 3vw, 20px);
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-style: italic;
}

body#friedevelopment .service-container .card .title-container .title .darkBl {
  color: #006494;
  visibility: visible !important;
}

body#friedevelopment .service-container .card .title-container .title .lightBl {
  color: #36a9e1;
  visibility: visible !important;
}

body#friedevelopment .service-container .card .title-container .title .middleBl {
  color: #1d71b8;
  visibility: visible !important;
}

body#friedevelopment .service-container .card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body#friedevelopment .service-container .card .icon #services-svg {
  visibility: hidden;
}

body#friedevelopment .service-container .card .icon svg {
  height: 20vh;
}

body#friedevelopment .service-container .card .extended-content {
  height: 70%;
}

body#friedevelopment .service-container .details-close {
  position: absolute;
  right: 1vw;
  top: 1vh;
  z-index: 6666;
  display: block;
}

body#friedevelopment .service-container .services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(16px, 2vw, 20px);
}

body#friedevelopment .service-container .services.moreContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: calc(50vw - 45vw - 3vw - 3vw);
}

@media screen and (min-width: 1200px) {
  body#friedevelopment .service-container .services.moreContent {
    margin-left: calc(50vw - 400px - 10vw - 3vw);
  }
}

body#friedevelopment .service-container .services .icon i {
  color: #1d71b8;
  -webkit-background-clip: text;
  font-weight: 900;
  font-size: 3em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#36a9e1), to(#006494));
  background-image: linear-gradient(#36a9e1, #006494);
  -webkit-text-fill-color: transparent;
}

body#friedevelopment .service-container .services .more {
  display: none;
}

body#friedevelopment .service-container .clickable {
  color: var(--highlight) !important;
  background-image: none;
  font-size: 35px;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  z-index: 999999;
}

body#friedevelopment .service-container .more {
  z-index: 800000;
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  right: 20%;
  font-size: 0.8em;
}

body#friedevelopment .moving-background {
  position: absolute;
  height: 150%;
  width: 100%;
  top: -6vh;
  background-color: #f4d03f;
  background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
  background-color: #ff9a8b;
  background-image: linear-gradient(45deg, #ff9a8b 0%, #ff6a88 55%, #ff99ac 100%);
  opacity: 0.5;
  background-size: 200%;
  -webkit-animation: bg-animation 30s infinite;
          animation: bg-animation 30s infinite;
  z-index: -444;
}

body#friedevelopment .service-d .moving-background {
  background-image: linear-gradient(132deg, #2c2c2c 0%, #36a9e1 100%);
  background-position: right;
}

body#friedevelopment .service-fs .moving-background {
  background-image: linear-gradient(45deg, #2c2c2c 0%, #006494 100%);
}

body#friedevelopment .service-os .moving-background {
  background-image: linear-gradient(45deg, #2c2c2c 0%, #1d71b8 100%);
}

body#friedevelopment .service-seo .moving-background {
  background-image: linear-gradient(125deg, #2c2c2c 0%, #36a9e1 100%);
}

body#friedevelopment .service-dev .moving-background {
  background-image: linear-gradient(184deg, #2c2c2c 0%, #006494 100%);
}

body#friedevelopment .wordpress {
  font-size: 30em;
  color: #006494;
  opacity: 0.1;
  position: absolute;
}

body#friedevelopment .welcomeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

body#friedevelopment .welcomeText .welcomeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10vh;
}

body#friedevelopment .welcomeText .welcomeContainer .text {
  z-index: 3;
  padding: 2vh 2vw;
}

body#friedevelopment .welcomeText .welcomeContainer .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body#friedevelopment .welcomeText .welcomeContainer .image .imgOverlay {
  background-color: #2c2c2c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 1;
  opacity: 0;
}

@media screen and (min-width: 740px) {
  body#friedevelopment .welcomeText .welcomeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10vw;
  }
  body#friedevelopment .welcomeText .welcomeContainer .text {
    width: 60%;
    padding: 2vh 2vw;
  }
}

body#friedevelopment .welcomeText .welcomeContainer .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body#friedevelopment .welcomeText .welcomeContainer .image .imgMove {
  overflow: hidden;
  position: relative;
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  border: 15px solid #006494;
}

body#friedevelopment .welcomeText .welcomeContainer .image img {
  width: 50vw;
  position: relative;
  right: 180px;
}

body#friedevelopment #services path,
body#friedevelopment #shop path,
body#friedevelopment #seo path {
  visibility: hidden;
}

body#friedevelopment .hide {
  visibility: hidden;
}

body#friedevelopment .mask {
  -webkit-mask-image: url(/images/blobfriede2.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url(/images/blobfriede2.svg);
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: cover;
}

body#friedevelopment .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body#friedevelopment .logo-use {
  display: none;
}
/*# sourceMappingURL=styles.css.map */