* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: rgba(54, 169, 225, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2c2c2c;
  position: relative;
  height: 100vh;
}

.middle {
  color: #1d71b8;
  fill: #1d71b8;
}

p {
  color: rgba(54, 169, 225, 0.6);
  line-height: 2em;
}

h2,
h3 {
  color: rgba(0, 100, 148, 0.6);
  line-height: 1em;
  text-align: center;
}

h3 {
  font-size: calc(min(8vw, 60px));
  font-weight: 200;
}

section {
  min-height: 100vh;
  margin-bottom: 30vh;
}

footer {
  background-color: white;
  min-height: 20vh;
}

header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 10vh;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  width: 100%;
  padding: 2vh 2vw;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(44, 44, 44, 0)), color-stop(20%, rgba(44, 44, 44, 0.625088)), color-stop(37%, rgba(44, 44, 44, 0.742735)), color-stop(64%, #2c2c2c), to(#2c2c2c));
  background: linear-gradient(0deg, rgba(44, 44, 44, 0) 0%, rgba(44, 44, 44, 0.625088) 20%, rgba(44, 44, 44, 0.742735) 37%, #2c2c2c 64%, #2c2c2c 100%);
}

section,
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo-header, .header-cta {
  height: 3vh;
}

.logo-header svg, .header-cta svg {
  height: 100%;
}

.scroll-down {
  padding: auto;
}

.scroll-down span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.scroll-down span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    -webkit-box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#fd {
  z-index: 66666;
  position: fixed;
  margin: auto auto;
  width: 80%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #3E1E68;
}

.square {
  position: absolute;
  top: 200px;
  left: 20px;
}

header .cta {
  top: 0;
}

header .cta svg {
  width: 10px;
}

body {
  position: relative;
}

#hero-cta-svg {
  visibility: hidden;
  z-index: 6666;
  top: 70vh;
  left: 80vw;
}

.frieDevelopment .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frieDevelopment .fdContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.frieDevelopment #cta-contact {
  width: 20%;
  display: none;
}

.triggerCta {
  border: 1px solid green;
}

.heroText,
.service,
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3vh 3vw;
}

@media screen and (min-width: 1200px) {
  .service-container {
    padding: 3vh 10vw;
  }
}

.service-container .service-card {
  border: 2px, solid, #2c2c2c;
  border-radius: 50px;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: clamp(100px, 80vw, 600px);
  width: 80vw;
  max-height: 80vh;
}

.service-container .service-card .content p, .service-container .service-card .content .service-title {
  color: #2c2c2c;
}

.service-container .service-card .service-title {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1em;
}

.service-container h2 {
  text-align: center;
}

.service-container .icon {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-container .icon #services-svg {
  visibility: hidden;
}

.service-container .icon svg {
  height: 20vh;
}

.service-container .moreContentOver .overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 333;
}

.service-container .moreContentOver {
  overflow: hidden;
  width: 100%;
}

.service-container .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.service-container .services.moreContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: calc(50vw - 40vw - 3vw - 3vw);
}

@media screen and (min-width: 1200px) {
  .service-container .services.moreContent {
    margin-left: calc(50vw - 400px - 10vw - 3vw);
  }
}

.service-container .services.moreContent .service-card {
  border: 2px, solid, #2c2c2c;
  margin: 6vh 3vw;
  padding: 6vh 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70vh;
  width: 80vw;
  margin-right: 10vw;
}

@media screen and (min-width: 1200px) {
  .service-container .services.moreContent .service-card {
    width: 800px;
    margin: 6vh 3vw;
  }
}

.service-container .services.moreContent .service-card .service-title {
  font-weight: 600;
}

.service-container .services.moreContent .service-card .service-title,
.service-container .services.moreContent .service-card i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.service-container .services.moreContent .service-title {
  font-size: 1.2em;
}

.service-container .services .extended-content {
  height: 70%;
}

.service-container .services div {
  margin: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-container .services .service-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.service-container i {
  font-size: 3em;
}

.service-container .more {
  z-index: 800000;
  cursor: pointer;
  border-radius: 50%;
  background: #1d71b8;
  height: 14vh;
  width: 14vh;
  color: #2c2c2c;
  position: fixed;
  bottom: 30vh;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.7em;
  font-weight: 800;
  display: none;
}

.service-background {
  opacity: 0.5;
  position: absolute;
  height: 150%;
  width: 100%;
  top: -6vh;
  background-color: #F4D03F;
  background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}

.wordpress {
  font-size: 30em;
  color: #006494;
  opacity: 0.1;
  position: absolute;
}

.logo-anim {
  height: 100vh;
  width: 100vw;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.responsive {
  position: relative;
  background-color: #FFDEE9;
  background-image: linear-gradient(45deg, #FFDEE9 0%, #B5FFFC 100%);
  background-image: linear-gradient(45deg, #36a9e1 0%, #1d71b8 50%, #006494 100%);
  background-position: left;
  background-size: 200%;
  -webkit-animation: bg-animation 15s infinite;
          animation: bg-animation 15s infinite;
  height: 60vh;
  padding: 2vh 2vw;
}

.responsive svg {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.responsive .cls-1 {
  fill: #383838;
}

.responsive .cls-2 {
  fill: #fff;
}

.responsive .cls-3 {
  fill: none;
  stroke: #383838;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.responsive svg {
  position: absolute;
}

.responsive h3 {
  font-size: 1em;
  margin: 3em 0;
}

.responsive .portrait h3 {
  font-size: 1em;
  margin: 10em 0;
}

.responsive #ipod {
  display: none;
  width: 5vw;
  font-size: 0vh;
}

.responsive #desktop {
  width: clamp(20px, 95vw, 1000px);
  left: 10vw;
  bottom: 0;
  font-size: 60px;
}

.responsive #phone {
  display: none;
  width: 10vw;
  right: 15vw;
  font-size: 13px;
}

.responsive #tablet {
  width: 14vw;
  width: clamp(20px, 20vw, 270px);
  right: 20;
  bottom: 0;
  font-size: 20px;
}

.responsive #laptop {
  width: 40vw;
  width: clamp(20px, 90vw, 800px);
  bottom: 0;
  right: 20vw;
  font-size: 35px;
}

.responsive #watch {
  font-size: 20px;
}

.responsive .heroContainer {
  position: relative;
  padding: 2rem;
  padding-top: 200px;
  width: 100%;
  background: #2c2c2c;
  background: white;
  background: #2c2c2c;
}

.responsive .heroContainer svg {
  margin-bottom: 130px;
  position: relative;
}

.welcomeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.welcomeText .welcomeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10vh;
}

.welcomeText .welcomeContainer .text {
  z-index: 3;
  padding: 2vh 2vw;
}

.welcomeText .welcomeContainer .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcomeText .welcomeContainer .image .imgOverlay {
  background-color: #2c2c2c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 1;
  opacity: 0;
}

@media screen and (min-width: 740px) {
  .welcomeText .welcomeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10vw;
  }
  .welcomeText .welcomeContainer .text {
    width: 60%;
    padding: 2vh 2vw;
  }
}

.welcomeText .welcomeContainer .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcomeText .welcomeContainer .image .imgMove {
  overflow: hidden;
  position: relative;
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  border: 15px solid #006494;
}

.welcomeText .welcomeContainer .image img {
  width: 50vw;
  position: relative;
  right: 180px;
}

#services path, #shop path, #seo path {
  visibility: hidden;
}

.v-spacer {
  border: 1px solid green;
  height: 90vh;
  width: 100%;
  scroll-snap-align: center;
}

.dynamic {
  position: relative;
  width: 100%;
}

.content {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.hide {
  visibility: hidden;
}

.mask {
  -webkit-mask-image: url(/images/blob.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: url(/images/blob.svg);
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: cover;
}
/*# sourceMappingURL=styles.css.map */