* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
  color: rgba(54, 169, 225, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #2c2c2c;
  position: relative;
  height: 100vh;
}

.middle {
  color: #1d71b8;
  fill: #1d71b8;
}

p {
  color: rgba(54, 169, 225, 0.6);
  line-height: 2em;
}

h2,
h3 {
  color: rgba(0, 100, 148, 0.6);
  line-height: 1em;
  text-align: center;
}

h3 {
  font-size: calc(min(8vw, 80px));
  font-weight: 200;
}

section {
  min-height: 100vh;
}

footer {
  background-color: white;
  min-height: 20vh;
}

header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  position: fixed;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  width: 100%;
  padding: 2vh 2vw;
  background: #be0014;
  background: -webkit-gradient(linear, left top, left bottom, from(#be0014), to(rgba(224, 17, 17, 0)));
  background: linear-gradient(180deg, #be0014 0%, rgba(224, 17, 17, 0) 100%);
  background: #2c2c2c;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(rgba(44, 44, 44, 0)));
  background: linear-gradient(180deg, #2c2c2c 0%, rgba(44, 44, 44, 0) 100%);
}

section,
div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo-header {
  width: 20vw;
}

.header-cta svg {
  width: clamp(10px, 12vw, 100px);
}

.fd {
  width: 80%;
}

.fd path {
  visibility: hidden;
}

.fdContainer {
  width: 100%;
  text-align: center;
}

header .cta {
  top: 0;
}

header .cta svg {
  width: 10px;
}

body {
  position: relative;
}

#hero-cta-svg {
  visibility: hidden;
  z-index: 6666;
  top: 70vh;
  left: 80vw;
}

.frieDevelopment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*END BASE BUTTON*/
  /*ROTATE*/
}

.frieDevelopment .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.frieDevelopment #cta-contact {
  width: 20%;
  display: none;
}

.frieDevelopment .simple-btn {
  font-size: 2em;
  font-weight: bold;
  color: #940000;
  background: none;
  -webkit-text-fill-color: initial !important;
}

.frieDevelopment .btn-red {
  background: linear-gradient(45deg, #940000 0%, #1abc9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#940000', endColorstr='#1abc9c', GradientType=1 );
}

.frieDevelopment .btn-myblue {
  background: linear-gradient(45deg, #36a9e1 0%, #006494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006494', endColorstr='#1abc9c', GradientType=1 );
}

.frieDevelopment .btn-exp,
.frieDevelopment .btn-exp::before {
  font-weight: 400 !important;
  background: linear-gradient(45deg, #36a9e1 0%, #006494 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36A9E1', endColorstr='#1abc9c', GradientType=1 );
}

.frieDevelopment .btn,
.frieDevelopment .btn::before {
  background: linear-gradient(45deg, #499bea 0%, #1abc9c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
  font-weight: 400 !important;
}

.frieDevelopment .button:after {
  background: #2c2c2c;
  background: white;
}

.frieDevelopment .button {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2em;
  font-weight: bold;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frieDevelopment .button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.75);
}

.frieDevelopment .button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}

.frieDevelopment .button:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.frieDevelopment .button:after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.frieDevelopment .button2 {
  display: inline-block;
  font-size: 2em;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-filter: hue-rotate(0deg);
          filter: hue-rotate(0deg);
  color: #fff;
  text-decoration: none;
}

.frieDevelopment .rot-360-noscoop:hover {
  -webkit-filter: hue-rotate(360deg);
          filter: hue-rotate(360deg);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.frieDevelopment .rot-135:hover {
  -webkit-filter: hue-rotate(135deg);
          filter: hue-rotate(135deg);
}

.frieDevelopment .rot-90:hover {
  -webkit-filter: hue-rotate(90deg);
          filter: hue-rotate(90deg);
}

.galleryWrapper {
  background-color: rebeccapurple;
}

#gallery3d {
  width: 50%;
  margin: auto;
}

.heroText,
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 3vh 3vw;
}

@media screen and (min-width: 1200px) {
  .service-container {
    padding: 3vh 10vw;
  }
}

.service-container .service-card {
  border: 2px, solid, #2c2c2c;
  border-radius: 50px;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  width: clamp(100px, 80vw, 600px);
  width: 80vw;
  -webkit-box-shadow: -2px -2px 12px #1abc9c;
          box-shadow: -2px -2px 12px #1abc9c;
}

.service-container .service-card .service-title {
  font-size: clamp(16px, 3vw, 20px);
  font-weight: 400;
}

.service-container .service-card .service-title,
.service-container .service-card i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.service-container h2 {
  text-align: center;
}

.service-container .icon {
  width: 30vw;
  padding-right: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-container .moreContentOver .overlay {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 333;
}

.service-container .moreContentOver {
  overflow: hidden;
  width: 100%;
}

.service-container .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.service-container .services.moreContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 0;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: calc(50vw - 40vw - 3vw - 3vw);
}

@media screen and (min-width: 1200px) {
  .service-container .services.moreContent {
    margin-left: calc(50vw - 400px - 10vw - 3vw);
  }
}

.service-container .services.moreContent .service-card {
  border: 2px, solid, #2c2c2c;
  -webkit-box-shadow: -2px -2px 12px #1abc9c;
          box-shadow: -2px -2px 12px #1abc9c;
  margin: 6vh 3vw;
  padding: 6vh 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 70vh;
  width: 80vw;
  margin-right: 10vw;
  gap: 2em;
}

@media screen and (min-width: 1200px) {
  .service-container .services.moreContent .service-card {
    width: 800px;
    margin: 6vh 3vw;
  }
}

.service-container .services.moreContent .service-card .service-title {
  font-weight: 600;
}

.service-container .services.moreContent .service-card .service-title,
.service-container .services.moreContent .service-card i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.service-container .services.moreContent .service-title {
  font-size: 1.2em;
}

.service-container .services .extended-content {
  height: 70%;
}

.service-container .services div {
  margin: 1vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.service-container .services .service-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.service-container i {
  font-size: 3em;
}

.service-container .more {
  z-index: 800000;
  cursor: pointer;
  border-radius: 50%;
  background: #1d71b8;
  height: 14vh;
  width: 14vh;
  color: #2c2c2c;
  position: fixed;
  bottom: 30vh;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.7em;
  font-weight: 800;
}

.service-container .service-background {
  opacity: 0.1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/images/code.PNG");
}

.wordpress {
  font-size: 30em;
  color: #006494;
  opacity: 0.1;
  position: absolute;
  bottom: -20vh;
  right: 30vw;
}

.heroText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroText .responsive-anim {
  text-align: center;
  width: 100%;
}

.heroText .responsive-anim #responsive {
  height: 80vh;
}

.heroText .responsive-anim #ipod {
  font-size: 0vh;
}

.heroText .responsive-anim #desktop {
  font-size: 60px;
}

.heroText .responsive-anim #phone {
  font-size: 20px;
}

.heroText .responsive-anim #tablet {
  font-size: 40px;
}

.heroText .responsive-anim #laptop {
  font-size: 45px;
}

.heroText .responsive-anim #watch {
  font-size: 20px;
}

.heroText .responsive-anim .heroContainer {
  margin-top: 40px;
  width: 100%;
}

.hrT-wp,
.hrT-ws {
  font-weight: 900;
}

#responsive {
  width: 60%;
}

.welcomeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.welcomeText .welcomeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10vh;
}

.welcomeText .welcomeContainer .text {
  z-index: 3;
  padding: 2vh 2vw;
}

.welcomeText .welcomeContainer .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcomeText .welcomeContainer .image .imgOverlay {
  background-color: #2c2c2c;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 1;
  opacity: 0;
}

@media screen and (min-width: 740px) {
  .welcomeText .welcomeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10vw;
  }
  .welcomeText .welcomeContainer .text {
    width: 60%;
    padding: 2vh 2vw;
  }
}

.welcomeText .welcomeContainer .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.welcomeText .welcomeContainer .image .imgMove {
  overflow: hidden;
  position: relative;
  width: 28vw;
  height: 28vw;
  border-radius: 50%;
  border: 15px solid #006494;
}

.welcomeText .welcomeContainer .image img {
  width: 50vw;
  position: relative;
  right: 180px;
}
/*# sourceMappingURL=styles.css.map */